body {
    background-color: hsl(0, 0%, 8%);
    background-size: 1440px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.infos{
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    padding: 2rem;
    border-radius: 5%;
    width: 25%;
    height: 30rem;
    display: inline-block;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 30%;
}

h1{
    color: white;
    font-size: 25px;
    margin-bottom: 0.3rem;
}

.location{
    color: hsl(75, 94%, 57%);
    font-size: 16px;
    margin-bottom: 1rem;
}

.job{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    margin-bottom: 1rem;
}

.container{
    text-align: center;
    margin-top: 11rem;

}

.Social{
    padding-left: 0.7rem;
}

.SocialContent{
    color: white;
    background-color: hsl(0, 0%, 20%);
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.hbtn {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    z-index: 0;
    background-color: hsl(0, 0%, 20%);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    width: 90%;
    text-decoration: none;
    color: white;
    margin: 0.3rem;
} 

.hbtn i {
    padding-right: 8px;
} 

.hb-fill-right::before {
    position: absolute;
    content: "";
    background: #a8a8a8;
    transition-duration: 0.4s;
    z-index: -1;
    inset: 0px auto auto 0px;
    width: 0px;
    height: 100%;
    opacity: 1;
} 

.hb-fill-right:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
} 

.hb-fill-right:hover {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    transition: color 0.3s ease 0s, background 0s ease 0.3s;
}
