*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.slider{
    width: 100%;
    height: 80vh;
    aspect-ratio: 16/9;
    background-color: #0C0E14;
    position: relative;
}

.slider-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.slider-content{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

h1{
    color: aliceblue;
    font-size: 5rem; /* gère la taille du H1 */
}

.wave {
    position: absolute; 
    font-size: 7em;
    transform: translate(-50%, -50%);
    margin-left: 4rem;
    margin-top: 3rem;
    margin-bottom: auto;
    padding-bottom: 2rem;
}

.wave:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #725C22;
}

.wave:nth-child(2) {
    color: #725C22;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
    clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
    );
    }

    50% {
    clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
    );
    }
}

h2{
    font-size: 3rem;
    margin-bottom: 100px;
    color: #725C22;
}

p{
    font-size: 1.5rem;
    line-height:1.5em;
}

.section{
    padding: 100px 0;
    background: #BCC2C2;
}

.boxed{
    max-width: 1280px;
    margin-inline: auto;
}

.flex{
    display: flex;
}

.dark{
    background:#0C0E14;
    color:  #725C22;
    /* On peut aussi mettre
    background:linear-gradient(rgba(0,0,0,0.6),(rgba(0,0,0,0.6)),url(selection de notre image);
    background-size: cover;
    background-position-y: 50%; */
}

.w40{
    width: 40%;
}

.w60{
    width: 60%;
}

.w25{
    width: 25%;
}

.w32{
    width:32%;
}

.center {
    justify-content: center;
}

.space-between{
    justify-content: space-between; /*Permet lorsque l'on a une div flex de séparer les éléments au maximum */
}

.gap20{
    gap: 20px;
}

.wrap{
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}

.pic{
    position: relative;
    left: -60%;
}

.skill{
    background: #BCC2C2;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.skill img{
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.skill h3{
    margin-top: 10px;
}

.realisation{
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
}
.realisation h3{
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50% -50%);
    font-size: 2rem;
    width:max-content;
    opacity: 0;
    transition: .4s ease;
}

.realisation a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #FFF;
}

.realisation img{
    width:100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
    transition:.4s ease;
}

.realisation:hover img{
    filter: brightness(60%);
}

.realisation:hover h3{
    opacity: 1;
}

.icon{
    display: block;
    font-size: 40px !important;
}

.label{
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 1.5rem;
}

.value{
    display: block;
    font-size: 1.2rem;
}

.contact{
    border: 2px dashed #725C22;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
}

.link:hover{
    color: #BCC2C2;
}

.social-media a {
    text-decoration: none;
    color: #725C22;
}

.linkedin {
    width: 3em;
    height: 3em;
}

.aligncenter{
    align-items: center;
}

header{
    position: fixed; /* fixed pour que le menu reste en haut de page */
    top:0;
    left: 0;
    width: 100%;
    background: #0C0E14;
    z-index: 999; /* 999 pour être sûr qu'il passe bien au dessus de tout */
    padding-block: 10px;
    box-shadow: 1px 1px 25px rgba(0,0,0,0.07);
}

.header-logo{
    display: block;
}

.header-logo img{
    width: 60%;
}

.header-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.header-menu li a{
    text-decoration: none;
    color: #725C22;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    transition: .2s ease;
}

.header-menu li a:hover{
    text-decoration: underline 2px;
    text-decoration-color: #BCC2C2;
    text-underline-offset: 8px;
    
}

/*Pour mettre en valeur le dernier élément du menu 
.header-menu li:last-child a{
    background-color: red; -> le fond de contact en rouge
    color: #FFF; -> contact en blanc 
}*/

.header-menu-mobile{
    display: none;
}



@media(max-width:810px){

    header{
        height: 60px !important;
    }

    .header-menu-mobile{
        display: block;
        border: 0px;
        color: #FFF;
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 991;
    }
/* Si on veut que la croix pour fermer le menu se trouve à droite
    .header-menu-mobile-exit{
        display: block;
        border: 0px;
        background-color: #FFF;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
    }
*/
    .header-logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        /* Si on ajoute un z-index:991; le logo restera apparent lorsque le menu sera ouvert */
    }

    .header-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* Si on utilise du padding pour le menu responsive et qu'il y aura du blanc entre les textes, on ne va pas cliquer sur la bonne section alors que si on utilise le gap, ça n'existe pas donc on ne peut pas se tromper */
        gap: 30px;
        display: none;
    }

    .active{
        display: flex;
    }

    .header-menu li:last-child a{
        margin-top: 10px;
    }

    h2{
        font-size: 1.75rem;
        margin-bottom: 30px;
    }

    .slider{
        height: 60vh; /* Ici On réduit la hauteur quand on est sur mobile pour plus de cohérence*/
    }

    .slider-content{
        width: 90%;
    }

    .slider-content p{
        margin-top: 20px;
        font-size: 1.5rem;
        /* text-wrap: balance; à utiliser si on a pas mal de texte pour la présentation. ça permet de mettre le texte à la ligne de manière stylisée*/
    }

    h1{
        font-size:2rem;
    }

    p{
        font-size: 1rem; /* Taille parfaite selon google pour que les utilisateurs soient à l'aise pour lire. Bon pour référencement*/
        text-wrap: balance;
    }

    .pic{
        position: relative;
        left:0%;
    }

    .toColumn{
        flex-direction: column;
    }

    .mCenter{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .wm100{
        width: 100% !important;
    }

    .section{
        padding: 50px 0;
    }

    .boxed{
        max-width: 90%;
    }

    .wm47{
        width: 47%;
    }

    .mgap20{
        gap: 20px;
    }
}
